body{
	background-color: #FFFFF0;
	background-image: linear-gradient(25deg, #fff, #30706F)

}
div{
	padding: 10px;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 10%;
	border-radius: 3px;
}
h1{
	padding-left: 18%;
	color: #fff;
	border-bottom: 1px solid #fff;
}

input{
	padding: 8px;
	padding-right: 200px;
	border-radius: 5px;
}
button{
	margin-right: 30%;
	margin-top: 5%;
	padding: 3px;
	padding-left: 15PX;
	padding-right: 15PX;
	font-size: 16px;
	border-radius: 5px;
	background-color: #30706F;
	color: #fff;
}
a{
	color: #30706F;
}